<%= render "shared/header" %>
  <div class="cat-protection-main">
    <h2 class="cat-protection-title">猫の情報を入力</h2>
    <%= form_with model: @protection, local: true do |f| %>

    <%= render 'shared/error_messages', model: f.object %>

    <%# 猫画像 %>
    <div class="img-upload">
      <div class="weight-bold-text">
        猫の画像
        <span class="indispensable">必須</span>
      </div>
      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image, id:"cat-image" %>
      </div>
    </div>
    <%# /猫画像 %>
    <%# 猫の特徴 %>
    <div class="new-cats">
      <div class="weight-bold-text">
        猫の特徴
        <span class="indispensable">必須</span>
      </div>
      <%= f.text_area :title, class:"cats-text", id:"cat-name", placeholder:"猫の特徴（必須 40文字まで)", maxlength:"40" %>
    </div>
    <%# /猫の特徴 %>

    <%# 猫の詳細 %>
    <div class="cats-detail">
      <div class="form">
      <div class="weight-bold-text">猫の詳細</div>
        <div class="weight-bold-text">
          年齢（推定）
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_field :age, class:"age-input", id:"cat-age", placeholder:"例）3" %>
        <div class="weight-bold-text">
          性別
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:gender_id, Gender.all, :id, :name, {}, {class:"select-box", id:"protection-gender"}) %>
        <div class="weight-bold-text">
          種類
          <span class="indispensable">必須</span>
        </div>
        <%= f.collection_select(:cat_species_id, CatSpecies.all, :id, :name, {}, {class:"select-box", id:"protection-cat-species"}) %>
        <div class="weight-bold-text">
          性格
          <span class="indispensable">必須</span>
        </div>
        <%= f.text_area :character, class:"cats-text", id:"cat-info", placeholder:"性格について（必須 1,000文字まで）人慣れができており、とても甘えん坊です。" ,rows:"7" ,maxlength:"1000" %>
      </div>
    </div>
    <%# /猫の詳細 %>

    <%# 下部ボタン %>
    <div class="sell-btn-contents">
      <%= f.submit "公開する" ,class:"sell-btn" %>
      <%=link_to 'もどる', root_path, class:"back-btn" %>
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

</div>